{
  "root": true,
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:prettier/recommended"
  ],

  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },

  "rules": {
    "multiline-ternary": 0,
    "no-shadow": 0,
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },

  "env": {
    "browser": true,
    "es2021": true
  },

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },

  "overrides": [
    {
      "files": ["*.graphql"],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": ["@graphql-eslint"],
      "rules": {
        "@graphql-eslint/no-anonymous-operations": "error",
        "@graphql-eslint/naming-convention": [
          "error",
          {
            "OperationDefinition": {
              "style": "PascalCase",
              "forbiddenPrefixes": ["Query", "Mutation", "Subscription", "Get"],
              "forbiddenSuffixes": ["Query", "Mutation", "Subscription"]
            }
          }
        ]
      }
    }
  ]
}
