/* Theme CSS Variables
------------------------------------------------------------------------------*/

:root {
	--color-gray-50:  #f9fafb;
	--color-gray-100: #f4f5f7;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d2d6dc;
	--color-gray-400: #9fa6b2;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #252f3f;
	--color-gray-900: #161e2e;
}
