@layer components {
  .css-slideshow > * {
    animation: 12s slideshow-opacity infinite linear;
    opacity: 0;
  }

  .css-slideshow > *:nth-child(1) {
    animation-delay: 0s;
  }
  .css-slideshow > *:nth-child(2) {
    animation-delay: 4s;
  }
  .css-slideshow > *:nth-child(3) {
    animation-delay: 8s;
  }

  @keyframes slideshow-opacity {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    33.33% {
      opacity: 1;
    }
    47.33% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
